<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProjectIos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A8EA3291DF742CE00ADA39B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A8EA33D1DF742CE00ADA39B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A8EA3481DF742CE00ADA39B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
